border-t($size, $style, $color)
  position relative
  &:before
    content ''
    display block
    position absolute
    width 100%
    left 0
    top 0
    border-top $size $style $color

border-b($size, $style, $color)
  position relative
  &:after
    content ''
    display block
    position absolute
    width 100%
    left 0
    bottom 0
    border-bottom $size $style $color

border-r($size, $style, $color)
  position relative
  &:after
    content ''
    display block
    position absolute
    height 100%
    right 0
    top 0
    border-left $size $style $color

border-t-none()
  &:before
    display none

border-b-none()
  &:after
    display none

border-r-none()
  &:after
    display none

backgroundPng($url, device = true)
  @media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3)
    device = false
  if device
    background-image url($url + "@2x.png")
  else
    background-image url($url + "@3x.png")

supportIcon($name)
  backgroundPng("img/" + $name)
  background-repeat no-repeat

backgroundSize($width, $height)
  background-size $width $height

singleOverflow()
  overflow hidden
  text-overflow ellipsis
  white-space nowrap

multiOverflow($n)
  display -webkit-box
  -webkit-box-orient vertical
  -webkit-line-clamp $n

$fontSize = 12px
$lineHeight = 12px

