border-tb($size, $style, $color)
  position relative
  &:after
    content ''
    display block
    position absolute
    width 100%
    left: 0
    bottom 0
    border-bottom $size $style $color

backgroundPng($url, device = true)
  @media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3)
    device = false
  if device
    background (url($url + "@2x.png"))
  else
    background (url($url + "@3x.png"))

backgroundSize($width, $height)
  background-size $width $height

singleOverflow()
  overflow hidden
  text-overflow ellipsis
  white-space nowrap

multiOverflow($n)
  display -webkit-box
  -webkit-box-orient vertical
  -webkit-line-clamp $n
